#LeonardoDiCaprio {
    stroke: orange;
    fill: none
}

#GiseleBündchen {
    fill: seagreen
}

#BarRafaeli {
    fill: limegreen
}

#BlakeLively {
    fill: lightseagreen
}

#ErinHeatherson {
    fill: skyblue
}

#ToniGarrn {
    fill: cornflowerblue
}

#KellyRohrbach {
    fill: dodgerblue
}

#NinaAgdal {
    fill: blue
}

#CamilaMorrone {
    fill: darkblue
}

